html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  position: relative;
  cursor: crosshair;
  background: transparent;
}

.pixelchick {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
